body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.reproductor {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #333; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
    border-radius: 10px; 
    text-align: center; 
}

.album-cover {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.album-cover img {
    max-width: 100%;
    height: auto;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin: 5px 0;
    cursor: pointer;
    border-bottom: 1px solid #ddd; 
    padding: 5px;
    transition: background-color 0.3s, color 0.3s; 
}

li:hover {
    color: #007bff;
    background-color: #444; 
}
